<!doctype html>
<html class=light lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}

        <title>{% block title %}JSONPlaceholder{% endblock %}</title>

        <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
            <div class="flex items-center flex-shrink-0 text-white mr-6">


                <a href="/" class="flex items-left">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9"
                         alt="JSONPlaceholder"/>
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">JSONPlaceholder</span>
                </a>
            </div>

            <div class="block lg:hidden">

            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow">

                    <a href="/allArticles"
                       class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
                        Articles
                    </a>

                    <a href="/allUsers"
                       class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
                        Users
                    </a>


                    {% if sessionState %}

                        <a href="/articleForm"
                           class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
                            Add Article
                        </a>

                    {% endif %}

                </div>

                {% if sessionState %}

                    <div>
                        <a href="/logout"
                           class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Logout</a>
                    </div>

                {% else %}

                    <div>
                        <a href="/registerForm"
                           class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Register</a>
                    </div>

                    <div>
                        <a href="/loginForm"
                           class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Login</a>
                    </div>


                {% endif %}

            </div>
        </nav>

    {% endblock %}

    <br><br><br>

</head>

{% block content %}{% endblock %}

{% block footer %}

{% endblock %}
