{% extends "Layout.twig" %}
{% block content %}

    <div class="container flex flex-col justify-center px-5 mx-auto my-8 space-y-8 text-center sm:max-w-md">

        <form action="/addUser" method="post">

            <label class=" text-left block text-black-400 text-sm font-bold mb-2" for="name">Name</label>
            <label for="title"></label><input name="name" id="title" placeholder="Name" required=""
                                              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            >

            <label class=" text-left block text-black-400 text-sm font-bold mb-2" for="username">User Name</label>
            <label for="tbody"></label><input name="username" id="tbody" placeholder="UserName" required=""
                                              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            >

            <label class=" text-left block text-black-400 text-sm font-bold mb-2" for="email">Email</label>
            <label class="block text-red-400 text-red-400 text-sm font-bold mb-2" for="email"> </label>
            <input name="email" id="tbody" placeholder="Email" required=""
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            >

            {% if controlEmail == false %}
                <label class="block text-red-400 text-red-400 text-sm font-bold mb-2" for="email">
                    Email is alredy registred.
                </label>
            {% endif %}

            <label class=" text-left block text-black-400 text-sm font-bold mb-2" for="city">City</label>
            <input name="city" id="tbody" placeholder="City"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            >


            <label class=" text-left block text-black-400 text-sm font-bold mb-2" for="phone">Phone number</label>
            <input name="phone" id="tbody" placeholder="Phone"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            >
            <label class=" text-left block text-black-400 text-sm font-bold mb-2" for="website">Website</label>
            <input name="website" id="tbody" placeholder="WebSite"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            >
            <label class=" text-left block text-black-400 text-sm font-bold mb-2" for="companyname">Company</label>
            <input name="company" id="tbody" placeholder="Company"
                   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            >

            <label class=" text-left block text-black-400 text-sm font-bold mb-2" for="password0">Password</label>
            <input name="password0" type="password" placeholder="******************" required=""
                   class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
            <p class="text-red-500 text-xs italic"></p>

            <label class=" text-left block text-black-400 text-sm font-bold mb-2" for="password1">Password</label>
            <input name="password1" type="password" placeholder="******************" required=""
                   class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
            <p class="text-red-500 text-xs italic"></p>

            {% if controlPasswd == false %}
                <label class="block text-red-400 text-red-400 text-sm font-bold mb-2" for="email">
                    Passwords Does Not Match
                </label>
            {% endif %}

            <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                Register
            </button>
        </form>


    </div>


{% endblock %}
